<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongang.superresume.dao.AppPlanMapper">
  <resultMap id="BaseResultMap" type="com.hongang.superresume.entity.AppPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_type" jdbcType="VARCHAR" property="planType" />
    <result column="plan_desc" jdbcType="VARCHAR" property="planDesc" />
    <result column="plan_sort" jdbcType="INTEGER" property="planSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="plan_price" jdbcType="DECIMAL" property="planPrice" />
    <result column="plan_days" jdbcType="INTEGER" property="planDays" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, plan_type, plan_desc, plan_sort, create_time, is_valid, version, app_id, plan_price,
    plan_days
  </sql>
</mapper>
