<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongang.superresume.dao.WordInfoMapper">
  <resultMap id="BaseResultMap" type="com.hongang.superresume.entity.WordInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="word_name" jdbcType="VARCHAR" property="wordName" />
    <result column="word_url" jdbcType="VARCHAR" property="wordUrl" />
    <result column="word_view" jdbcType="BIGINT" property="wordView" />
    <result column="word_download" jdbcType="BIGINT" property="wordDownload" />
    <result column="word_size" jdbcType="VARCHAR" property="wordSize" />
    <result column="word_short" jdbcType="VARCHAR" property="wordShort" />
    <result column="is_valid" jdbcType="CHAR" property="isValid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, type_id, word_name, word_url, word_view, word_download, word_size, word_short,
    is_valid, create_time, is_vip
  </sql>
</mapper>
